/* Play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff');
}

/* Roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-600.woff') format('woff');
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-text-dark: #000;
  --color-text-light: #ffffff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --font-title: 'Play', sans-serif;
}

/* Base */
body {
  color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  margin-bottom: 14px;
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  color: var(--color-text-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.header-link {
  text-decoration: none;
  color: var(--color-brand-dark);
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--color-brand-light);
}

/* Header section */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 240px;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 240px;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}

.header-address {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-grow: 1;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-brand-dark);
  gap: 32px;
}

.header-icon:hover {
  fill: var(--color-brand-light);
}

/* Hero section */
.hero-section {
  padding: 160px 0 244px;
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand-light);
  font-family: var(--font-title);
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
}

.hero-subtext {
  margin-bottom: 0;
  color: var(--color-secondary-dark);
  text-align: center;
  font-size: 12px;
  width: 238px;
  line-height: 1.6;
}

/* Title section */
.section-title {
  font-family: var(--font-title);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-light);
}

/* Information section */
.information-section {
  padding: 20px 0 88px;
}

.information-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.information-content {
  max-width: 652px;
}

.information-title {
  max-width: 530px;
  margin-bottom: 40px;
  text-align: left;
}

.information-text {
  color: var(--color-brand-dark);
  font-size: 22px;
  line-height: 1.7;
}

.information-text .brand-accent {
  font-weight: 600;
  text-transform: capitalize;
}

.information-text:last-child {
  margin-bottom: 0;
}

.information-media {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
}

.information-section-photo {
  position: absolute;
  border-radius: 50%;
  width: 327px;
  height: 327px;
}

.information-section-photo.before {
  top: -84px;
  left: -24px;
}

.information-section-photo.after {
  bottom: -72px;
  right: -67px;
}

.information-star {
  position: absolute;
}

.information-star.big {
  fill: var(--color-brand-dark);
  top: 66%;
  left: 21%;
  animation: 3s ease-in-out 0s infinite normal none running star-movement,
    6s linear 0s infinite normal none running star-rotation;
}

.information-star.medium {
  fill: var(--color-brand-light);
  top: -12%;
  right: -5%;
  animation: 4s ease-in-out 0s infinite normal none running star-movement,
    5s linear 0s infinite reverse none running star-rotation;
}

.information-star.small {
  fill: var(--color-secondary-light);
  top: 30%;
  right: 12%;
  animation: 2s ease-in-out 0s infinite normal none running star-movement,
    3s linear 0s infinite normal none running star-rotation;
}

@keyframes star-movement {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: translate(10px, -10px) scale(1.1);
    opacity: 0.9;
  }
  50% {
    transform: translate(-15px, 5px) scale(1.3);
    opacity: 1;
  }
  75% {
    transform: translate(10px, 15px) scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
  }
}

@keyframes star-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Advantages section */
.advantages-section {
  position: relative;
  padding: 88px 0 48px;
  overflow: visible;
}

.advantages-bg {
  position: absolute;
  left: 50%;
  top: -12%;
  transform: translateX(-50%);
  width: 100%;
  height: max-content;
  z-index: -1;
  pointer-events: none;
}

.advantages-container {
  position: relative;
  z-index: 1;
}

.advantages-title {
  max-width: 442px;
  margin: 0 auto 48px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.advantages-item {
  flex-grow: 1;
  max-width: 316px;
}

.advantages-card {
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--color-text-light);
  box-shadow: 0 4px 20px rgba(168, 198, 245, 0.38);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-icon {
  fill: var(--color-brand-light);
  margin-bottom: 8px;
}

.advantages-text {
  color: var(--color-text-dark);
  text-align: center;
  line-height: 1.3;
  max-width: 240px;
}

/* Procedures section */
.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedure-card {
  border-radius: 4px 120px 4px 120px;
  padding: 77px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47%,
    rgba(1, 28, 68, 0.73) 83%,
    rgba(1, 28, 68, 1) 99%
  );
  height: 456px;
  border: 1px solid black;
  transition: transform 0.3s;
}

.procedure-card:hover {
  transform: scale(1.05);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.procedure-card-title {
  color: var(--color-text-light);
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: var(--color-text-light);
  fill: var(--color-brand-dark);
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-text-light);
  border: none;
}

/*Contact section*/
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 32px;
  border: none;
}

/* Footer */
.footer {
  position: relative;
  padding: 56px;
  background-color: var(--color-brand-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 150px;
  background-image: url(../images/decor-cosmetic.png);
  background-repeat: no-repeat;
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.address {
  color: var(--color-text-light);
  font-size: 16px;
  text-decoration: none;
}

.address:hover {
  color: var(--color-brand-light);
  transition: color 0.3s;
}

.address-icon {
  fill: var(--color-text-light);
}

.address-icon:hover {
  fill: var(--color-brand-light);
  transition: fill 0.3s;
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-brand-dark);
  background-image: url(../images/modal-backgrount.png);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-title {
  margin-bottom: 40px;
  color: var(--color-text-light);
  font-family: var(--font-title);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.modal-text {
  max-width: 305px;
  margin: 0 auto 32px;
  color: var(--color-text-light);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.modal-text .modal-accent {
  color: var(--color-brand-light);
}

/* Form */
.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  display: block;
  margin: 0 auto;
  width: 310px;
  padding: 18px 33px;
  font-size: 13px;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary-light);
}

.form-input::placeholder {
  color: var(--color-text-light);
  font-size: 13px;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
  width: 281px;
}

.form-button:hover {
  color: var(--color-text-light);
}

.form-terms {
  margin: 0 auto;
  max-width: 210px;
  color: var(--color-secondary-light);
  font-size: 12px;
  text-align: center;
}

.form-terms-link {
  color: var(--color-secondary-light);
  text-underline-offset: 2px;
}
