/* Play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff');
}

/* Roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-600.woff') format('woff');
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-text-dark: #000;
  --color-text-light: #ffffff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --font-title: 'Play', sans-serif;
}

/* Base */
body {
  color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Button */
.button {
  margin-bottom: 14px;
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  color: var(--color-text-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.header-link {
  text-decoration: none;
  color: var(--color-brand-dark);
}

.header-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

/* Header section */
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  gap: 240px;
  padding: 32px 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}

.header-icon {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 32px;
}

/* Hero section */
.hero-section {
  padding: 160px 0 244px;
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  /* max-width: 530px; */
  line-height: 0.8;
  text-transform: capitalize;
}

.hero-subtext {
  margin-bottom: 0;
  color: var(--color-secondary-dark);
  text-align: center;
  font-size: 12px;
  width: 238px;
  line-height: 1.6;
}

/* Title section */
.section-title {
  font-family: var(--font-title);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-light);
}

/* Information section */
.information-section {
  padding: 20px 0 88px;
}

.information-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.information-content {
  max-width: 650px;
}

.information-title {
  max-width: 530px;
  margin-bottom: 40px;
  text-align: left;
}

.information-text {
  color: var(--color-brand-dark);
  font-size: 22px;
  line-height: 1.7;
}

.information-text .brand-accent {
  font-weight: 600;
  text-transform: capitalize;
}

.information-text:last-child {
  margin-bottom: 0;
}

/* Advantages section */
.advantages-section {
  padding-top: 88px;
}

.advantages-title {
  max-width: 442px;
  margin: 0 auto 48px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.advantages-item {
  flex-basis: calc((100% - 112px) / 3);
}

.advantages-text {
  color: var(--color-text-dark);
  text-align: center;
  line-height: 1.3;
}

.advantages-card {
  border-radius: 32px;
  border: 1px solid black; /*remove*/
  padding: 24px 32px;
}

/* Procedures section */
.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedure-card {
  border-radius: 120px 4px 120px 4px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47%,
    rgba(1, 28, 68, 0.73) 83%,
    rgba(1, 28, 68, 1) 99%
  );
  height: 456px;
  border: 1px solid black;
}

.procedure-card-title {
  color: var(--color-text-light);
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
}

/* Footer */
.footer {
  background-color: var(--color-brand-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.address {
  color: var(--color-text-light);
  font-size: 16px;
  text-decoration: none;
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
}
