@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';
@import './utils/mixins';

@import './components/advantges-card';
@import './components/animation';
@import './components/button';
@import './components/carousel-button';
@import './components/input';
@import './components/links';
@import './components/procedure-card';

@import './layouts/advantages-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/information-section';
@import './layouts/modal';
@import './layouts/procedures-section';
@import './layouts/section';
