/* Play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff');
}

/* Roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-600.woff') format('woff');
}
