:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-text-dark: #000;
  --color-text-light: #ffffff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --font-title: 'Play', sans-serif;
}
