.advantages-card {
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--color-text-light);
  box-shadow: 0 4px 20px rgba(168, 198, 245, 0.38);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    fill: var(--color-brand-light);
    margin-bottom: 12px;
  }

  &__text {
    color: var(--color-text-dark);
    text-align: center;
    line-height: 1.3;
    max-width: 240px;
  }
}
