.button {
  margin-bottom: 14px;
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  color: var(--color-text-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
