.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: var(--color-text-light);
  fill: var(--color-brand-dark);
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;

  &:hover {
    background-color: var(--color-brand-light);
    fill: var(--color-text-light);
    border: none;
  }

  &--next {
    transform: rotate(180deg);
  }
}
