.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 240px;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 240px;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}

.header-address {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-grow: 1;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-brand-dark);
  gap: 32px;
}

.header-icon:hover {
  fill: var(--color-brand-light);
}
