.header-link {
  text-decoration: none;
  color: var(--color-brand-dark);
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--color-brand-light);
}
