.procedure-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 77px 77px 32px 115px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47%,
    rgba(1, 28, 68, 0.73) 83%,
    rgba(1, 28, 68, 1) 99%
  );
  height: 456px;
  border: 1px solid black;
  transition: transform 0.3s;
  border-radius: 4px 120px 4px 120px;

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    margin-bottom: 0;
    color: var(--color-text-light);
    text-align: center;
    font-size: 22px;
    line-height: 1.18;
  }
  &__image {
    position: absolute;
    border-radius: 4px 120px 4px 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
