.footer {
  position: relative;
  padding: 56px;
  background-color: var(--color-brand-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 150px;
  background-image: url(../images/decor-cosmetic.png);
  background-repeat: no-repeat;
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.address {
  color: var(--color-text-light);
  font-size: 16px;
  text-decoration: none;
}

.address:hover {
  color: var(--color-brand-light);
  transition: color 0.3s;
}

.address-icon {
  fill: var(--color-text-light);
}

.address-icon:hover {
  fill: var(--color-brand-light);
  transition: fill 0.3s;
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
}
