.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);
  padding: 32px;

  &__container {
    display: flex;
    align-items: center;
    gap: 240px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 56px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-brand-dark);
    transition: color 0.3s;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__social-menu {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-grow: 1;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__icon {
    fill: var(--color-brand-dark);

    &:hover {
      fill: var(--color-brand-light);
    }
  }
}
