.procedures-section {
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
