.section {
  padding: 48px 0;

  &__title {
    font-family: var(--font-title);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;

    &--left {
      text-align: left;
    }
  }
}
